services:
  nginx:
    image: nginx:1.29-alpine
    container_name: nginx-prod
    restart: unless-stopped

    ports:
      - "80:80"
      - "443:443"

    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./certs:/etc/nginx/certs:ro

    networks:
      - web-net

    logging:
      driver: json-file
      options:
        max-size: "50m"
        max-file: "5"

networks:
  web-net:
    external: true